@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4a90e2 #0e222c;
}

* {
  font-family: 'DM Sans', sans-serif;

}

.didot {
  font-family: 'Didot', serif;
}

footer h3,
ul,
li,
p {
  font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: #0e222c;
  border-radius: 0.625;
}

::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 0.625;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #357abd;
}

::-webkit-scrollbar-button {
  display: none;
}

/* Navbar */
.navbar-transition {
  transition: background-color 0.3s ease-in-out;
}

/* Banner */
.banner {
  background: #0e222c;
  background-image: linear-gradient(to right, #0e222c 600px, rgba(0, 0, 0, 0)),
    url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Service Card */
.service-card {
  position: relative;
  clip-path: polygon(0 0, 50% 0, 58% 16%, 100% 17%, 100% 100%, 0 100%);
  border-radius: 0.625rem;
  border-top-right-radius: 27%;
  display: flex;
  align-items: center;
  text-align: left;
  background: linear-gradient(180deg, #FFFFFF1A, #0E222C5E, #000000);
  width: 100%;
  padding: 0.75rem;
  height: 5rem;
  gap: 1rem;
  box-shadow: 0 0 2.69px rgba(#2A2A2A96);
  backdrop-filter: blur(2px);
}

.service-card-light {
  background: #ededed;
}

.service-card::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 25%;
  width: 0.25rem;
  height: 50%;
  background-color: #8e5afc;
}

.service-card:nth-child(1)::before {
  background-color: #ff5733;
}

.service-card:nth-child(2)::before {
  background-color: #33aaff;
}

.service-card:nth-child(3)::before {
  background-color: #33ff77;
}

.service-card:nth-child(4)::before {
  background-color: #ff33aa;
}

.service-card:nth-child(5)::before {
  background-color: #ffa233;
}

.service-card:nth-child(6)::before {
  background-color: #9933ff;
}

.service-card:nth-child(7)::before {
  background-color: #33ffee;
}

.service-card:nth-child(8)::before {
  background-color: #ff3333;
}

.service-card-text {
  color: #000;
  font-size: clamp(0.65rem, 2vw, 0.75rem);
}

.service-card-text-dark {
  color: #D1D7E6;
  font-size: clamp(0.65rem, 2vw, 0.75rem);
}

.service-card-image {
  width: 2rem;
  height: 2rem;
}

/* About */
.about-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right, #02283600 300px, #01212d),
    url('../images/contact-bg.png')
}